{% extends "base/theme.html" %}
for review in object_list
{% block main_content %}
	<section></section>
		
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h3><p>{{ location.title }}</p></h3>
				<b>Coffeed Hours: </b><p>{{ location.hours }}</p>
				{% include 'location/specifics.html' with location=location %}
			 	<b>Address: </b><p>{{ location.address }}</p>
				
			 	
			</div>
		    <div class="col-md-12">
				{% if user.is_authenticated %}
					
					{%if user == location.user%}					
					 <a type="button" href="{% url 'location_update' pk=location.id %}" class="btn btn-default pull-right">Edit Location Details</a>
					{% endif %}

					{% for review in location.get_reviews %}
						
						{% empty %}
							<a type="button" href="{% url 'review_create' pk=location.id %}" class="btn btn-default pull-right">Create Review</a>
						
	 				{% endfor %}
										 
										
					{% for review in location.get_reviews %}
						{% if user == review.user %}
							<a type="button" href="{% url 'review_update' pk=location.id %}" class="btn btn-default pull-right">Update Review</a>

						{% else %}	
							<a type="button" href="{% url 'review_create' pk=location.id %}" class="btn btn-default pull-right">Create Review</a>
																		
	 					{% endif %}
	 				{% endfor %}					
				{%endif%}
											



			</div>
		    <div class="col-md-2"></div>
		    <div class="col-md-8">
		      	<b>Reviews: </b>
		    	{% for review in location.get_reviews %}
				{% include 'base/review.html' with location=location %}
	 			{% endfor %}
	 		</div>
	 			 		
	 		<div class="col-md-2"></div>
	 	</div>
	
{% endblock %}